<!DOCTYPE html>
<html>
<head>
	<title>Autenticação do Usuário</title>
	<meta name="viewport" content="width=device-width">
	<meta charset="UTF-8">

  <!-- build:css css/auth.min.css -->
	<link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap-theme.css">
  <!-- endbuild -->
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#/">MeowPet</a>
    </div>
  </div>
</nav>
<br>
<br>
<br>
<div class="container">
	<a id="entrar" href="/auth/github">
		<h1 class="text-center">Entre pelo GitHub</h1>
	</a>
</div>

<footer class="container-fluid text-center">
  <a href="#" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <p>MeowPets <a href="#" title=""></a></p>		
</footer>
</body>
</html>